---
import { Image } from 'astro:assets';
import shap_white from "../../public/img/new/shap_white.png";
const domainApi = import.meta.env.PUBLIC_API_GO_URL;
const urlImg    = import.meta.env.PUBLIC_URL_IMG;
const songs     = await fetch(domainApi + '/api/v1/song', {
  method: 'GET',
  headers: {
    'Content-Type': 'application/json',
  }
}).then((response) => response.json());

---
<slot />
<section class="doc_features_area">
    <Image class={"doc_features_shap"} src={shap_white} alt=""/>
    <div class="container">
        <div class="doc_features_inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {songs.data.map((song: any) => (
                        <a href={ '/song/' + song.uuid } >
                        <div class="col-lg-4 col-sm-4">
                            <div class="blog_grid_post shadow-sm wow fadeInUp">
                                <Image src={urlImg + song.thumbnail} alt={song.name} height={250} width={350}/>
                                <div class="grid_post_content">
                                    <div class="post_tag">
                                        <a href="#">{song.author?song.author:'Không có'}</a>
                                        <a class="cat-laravel" href="#">{song.singer?song.singer:'Không có'}</a>
                                    </div>
                                    <a href="#">
                                        <h2 class="b_title">{song.name}</h2>
                                    </a>
                                    <style>
                                        p {
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                        }
                                    </style>
                                    <p>{song.lyrics}</p>
                                    <div class="media post_author">
                                        <div class="media-body author_text">
                                            <h4>Điệu: {song.tune?song.tune : "Không có"}</h4>
                                            <div class="date">Tone: {song.tone?song.tone : "Không có"}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </a>
                        ))}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recommended_topic_area">
    <div class="container">
        <div class="recommended_topic_inner">
            <img class="doc_shap_one" src="img/new/shap.png" alt="">
            <div class="doc_round one" data-parallax='{"x": -80, "y": -100, "rotateY":0}'></div>
            <div class="doc_round two" data-parallax='{"x": -10, "y": 70, "rotateY":0}'></div>
            <div class="doc_title text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.2s">Recommended Topics</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Loaded with awesome features like Documentation, Knowledgebase,
                    <br> Forum & more!</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="img/new/smile.png" alt="">
                        <a href="#">
                            <h3>Getting Started</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Welcome to Ghost</a></li>
                            <li><a href="#">Writing posts with Ghost</a></li>
                            <li><a href="#">Publishing options</a></li>
                            <li><a href="#">Managing admin settings</a></li>
                            <li><a href="#">Organising your content</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.3s">
                        <img src="img/new/house.png" alt="">
                        <a href="#">
                            <h3>Advanced Usage</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Getting started</a></li>
                            <li><a href="#">Become a Pro</a></li>
                            <li><a href="#">Admin & Billing</a></li>
                            <li><a href="#">Mobile App</a></li>
                            <li><a href="#">Guides</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.4s">
                        <img src="img/new/doc.png" alt="">
                        <a href="#">
                            <h3>Knowledge Base</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">Organising content in Ghost</a></li>
                            <li><a href="#">Using the editor</a></li>
                            <li><a href="#">General publication settings</a></li>
                            <li><a href="#">Publishing Options</a></li>
                            <li><a href="#">Knowledge Base</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="recommended_item wow fadeInUp" data-wow-delay="0.5s">
                        <img src="img/new/bag.png" alt="">
                        <a href="#">
                            <h3>User Settings</h3>
                        </a>
                        <ul class="list-unstyled">
                            <li><a href="#">How do I reset my password</a></li>
                            <li><a href="#">Managing your team</a></li>
                            <li><a href="#">Can I add my social accounts</a></li>
                            <li><a href="#">Imports and exports</a></li>
                            <li><a href="#">Design Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.2s">
                <a href="#" class="question_text">Want to know more or have a<br> Question?
                </a>
            </div>
        </div>
    </div>
</section>