     <!-- Back to top button -->
    <a id="back-to-top" title="Back to Top"></a>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script is:inline src="js/jquery-3.5.1.min.js"></script>
     <script is:inline src="assets/bootstrap/js/popper.min.js"></script>
     <script is:inline src="assets/bootstrap/js/bootstrap.min.js"></script>
     <!-- <script is:inline src="js/pre-loader.js"></script> -->
     <script is:inline src="assets/slick/slick.min.js"></script>
     <script is:inline src="js/jquery.parallax-scroll.js"></script>
     <script is:inline src="assets/niceselectpicker/jquery.nice-select.min.js"></script>
     <script is:inline src="assets/wow/wow.min.js"></script>
     <script is:inline src="assets/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
     <script is:inline src="assets/magnify-pop/jquery.magnific-popup.min.js"></script>
     <script is:inline src="js/plugins.js"></script>
     <script is:inline src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
     <script is:inline src="/js/main.js"></script>
     <script is:inline src="/js/search.js"></script>
      <!-- Swiper.js -->
     <script is:inline src="/js/swiper-bundle.min.js.js" defer></script>
     <script>
          declare const Swiper: any;
     </script>
     <script is:inline src="/js/slide.js"></script>
