---
import '../style/global.css';
import Head from "../components/Head.astro";
import Script from '../components/Script.astro';
---
<!doctype html>
<html lang="en">

	<Head />
	<body data-scroll-animation="true">
        <slot />
    </body>
    <Script />
</html>
   


   
